{% extends '::base.html.twig' %}
{% block body %}
    {% javascripts '@SymfotestTestBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Author</th>
                <th>Created</th>
                <th>Website</th>
                <th>Comment</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="{{ path('show_author', {'author': comment.author}) }}">{{ comment.author }}</a> </td>
                    <td>{% if comment.date %}{{ comment.date|date('Y-m-d') }}{% endif %}</td>
                    <td><a href="{{ path('show_site', {'site': comment.site}) }}">{{ comment.site }}</a></td>
                    <td>{{ comment.comment }}</td>
                    <td>{{ comment.rating }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if form is defined %}
        <form class="comment-form" action="{{ path('show_all') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label>Author Name</label>
                {{ form_widget(form.author) }}
            </div>
            <div class="form-group">
                <label>Website</label>
                {{ form_widget(form.site) }}
            </div>
            <div class="form-group">
                <label>Comment</label>
                {{ form_widget(form.comment) }}
            </div>
            <div class="form-group">
                <label>Rating</label>
                {{ form_widget(form.rating) }}
            </div>
            <button type="submit" class="btn btn-default submit-form">Submit</button>
        </form>

        <div id="dialog" title="Basic dialog">
        </div>


    {% endif %}
    {#========================================================================#}
{% endblock %}